@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Sriracha&display=swap');

body {
    font-family: 'bangers';
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.super-container {
    display: flex;
    justify-content: center;
    background-color: black;
}

.score {
    position: absolute;
    margin-top: 10px;
    color: rgb(255, 0, 140);
    font-family: 'bangers';
    font-size: 2rem;
    text-shadow: 1px 1px 2px black;
}

.container {
    font-family: 'bangers';
    margin-top: 90px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 380px;
    height: 380px;
}

.grid {
    font-family: 'bangers';
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-family: 'bangers';
    font-size: 2rem;
    height: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 10px;
    color: rgb(72, 255, 0);
    text-shadow: 1px 1px 2px black;
}

.sentence {
    margin: 5px;
}

.buttons {
    font-family: 'bangers';
    font-size: 1.5rem;
    background-color: black;
    border-style: none;
    color: rgb(255, 0, 234);
    border-radius: 10px;
    border: 1px solid white;
    width: 70px;
}

@keyframes explosion {
    0% { background-image: url('assets/boom.png'); opacity: 0.5}
    30% { background-image: url('assets/boom.png');opacity: 0.8}
    50% { background-image: url('assets/boom.png');opacity: 0.9}
    80% { background-image: url('assets/boom.png');opacity: 0.4}
    90% { background-image: url('assets/boom.png');opacity: 0.2}
    100% { background-image: url('assets/boom.png');opacity: 0}
}

.explosion {
    animation: explosion;
    animation-duration: 1s;
}